<!--<h2>app component</h2>-->
<!--<div><input [(ngModel)]="title" #xxx="ngModel" required></div>-->
<!--<div *ngIf="xxx.invalid">-->
<!--  you must fill this input!-->

<!--</div>-->

<!--<button (click)="getTitle(xxx)" [disabled]="xxx.invalid">getTitle</button>-->


<!--<form #form="ngForm" (ngSubmit)="action(form)">-->
<!--  <input [(ngModel)]="user.name" name="xxx" required>-->
<!--  <input [(ngModel)]="user.age" name="yyy" required>-->

<!--  <div *ngIf="form.invalid">-->
<!--    ypu must fill all inputs-->
<!--  </div>-->
<!--&lt;!&ndash;    <button (click)="action(form)" [disabled]="form.invalid">send</button>&ndash;&gt;-->
<!--  <button> send data</button>-->
<!--  -->
<!--</form>-->

<form #form="ngForm" (ngSubmit)="searchUser(form)">
  <!--  <input type="number" max="10" name="id" [(ngModel)]="user.id" #id="ngModel">-->
  <select name="id" [(ngModel)]="user.id">
    <option value="1">one</option>
    <option value="2">two</option>

  </select>
  <button>saerch</button>

</form>

<div>

  {{user.id}} -
  {{user.name}} -
  {{user.email}}
</div>
